.app-header {
  width: 100%;
  height: 100px;
  background-color: #2b2b2b;
  color: #ffb347;
  display: flex;
  align-items: center;
  justify-content: space-between; /* h1 à gauche, right-section à droite */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 0 20px;
  box-sizing: border-box; 
  position: fixed;
  top:0;
  z-index: 1000;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0; /* empêche les éléments de rétrécir */
}

.search-bar {
  width: 180px; /* tu peux ajuster */
  max-width: 60vw; /* ne dépasse pas l’écran sur mobile */
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 0; /* supprime le margin droit qui poussait le bouton */
}

.home-link:hover {
  color: #ffb347;
}
