<div class="volume" *ngIf="volume && manga">
  <div class="volume-header">
    <div class="cover">
      <ng-container *ngIf="volume.imgPath; else noImgText">
        <img 
          [src]="volume.imgPath"
          [alt]="'Tome ' + volume.numero"
        />
      </ng-container>

      <ng-template #noImgText>
        <p>Aucune image disponible</p>
      </ng-template>
    </div>



    <div class="volume-detail">
      <div class="infos-boutons">
        <div class="infos">
          <a [routerLink]="['/manga', volume.mangaId]" class="go-back">Retour aux tomes</a>
          <h2 *ngIf="volume.collector; else titleOnly">
            {{ manga.name }} - Tome {{ volume.numero }} Collector
          </h2>
          <ng-template #titleOnly>
            <h2>{{ manga.name }} - Tome {{ volume.numero }}</h2>
          </ng-template>
          <p *ngIf="this.manga.author"><strong>Auteur :</strong> {{ manga.author }}</p>
          
          
        </div>

        <div class="boutons">
          <a [routerLink]="['/volume/edit/', volume.id]" class="modifier">Modifier le tome</a>
          <button class="supprimer" (click)="supprimerVolume()">Supprimer le tome</button>
        </div>
      </div>

      <div class="resume" *ngIf="volume.resume">
        <h3>Résumé :</h3>
        <p>{{ volume.resume }}</p>
      </div>
    </div>
  </div>
</div>
