.volume {
  color: #fff;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  background: transparent;

}

.volume-header {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.cover img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  object-fit: cover;
}

.volume-detail {
  flex: 1;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.volume-detail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffb347;
}

.infos-boutons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.noImg {
  width: 100%;
  aspect-ratio: 2/3;
  color:#ffb347;
  background-color: #2b2b2b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.infos {
  flex: 2;
}

.boutons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  flex: 1;
  max-width: 180px;
}

.modifier, .supprimer {
  display: block;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;


}

.modifier {
  background-color: #007bff;
}

.supprimer {
  background-color: #dc3545;
}

.modifier:hover {
  background-color: #0056b3;
}

.supprimer:hover {
  background-color: #a71d2a;
}

.resume {
  margin-top: 2rem;
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  color: #ddd;
}

.resume h3 {
  color: #ffb347;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
