<div class="filter">
  <select id="statutFilter" [(ngModel)]="selectedStatut" (change)="filterMangas()">
    <option value="">Filtrer par :</option>
    <option value="EN_COURS">En cours</option>
    <option value="TERMINE">Terminé</option>
    <option value="ARRETE">Arrêté</option>
    <option value="EN_ATTENTE">En pause</option>
  </select>
</div>

<div class="manga-container">
  <div *ngFor="let manga of filteredMangas" >
    <a [routerLink]="['/manga', manga.id]">
      <div class="manga-card">
        <div class="statut" id="{{manga.statut}}">
          <p>{{getStatutLabel(manga.statut)}}</p>
        </div>
        <div class="cover">
          <ng-container *ngIf="manga.coverImg; else noImg">
            <img [src]="'http://localhost:8080/' + manga.coverImg" alt="{{ manga.name }} cover"/>
          </ng-container>

          <ng-template #noImg>
            <p *ngIf="manga.volumeCount > 0; else noTome">Pas de cover pour ce manga</p>
            <ng-template #noTome>
              <p>Pas de tomes disponible pour ce manga</p>
            </ng-template>
          </ng-template>
        </div>

        
        <div class="bas">
          <p class="name">{{ manga.name }}</p>
          <p class="total">{{ manga.volumeCount }}/{{ manga.volumeNb }}</p>
        </div>
      </div>
    </a>
  </div>
  <a [routerLink]="['/manga']" >
    <div class="manga-add">
      Ajouter un manga
    </div>
  </a>
  
</div>
