<div class="filter">
  <select id="statutFilter" [(ngModel)]="selectedStatut" (change)="filterMangas()">
    <option value="">Filtrer par :</option>
    <option value="EN_COURS">En cours</option>
    <option value="TERMINE">Terminé</option>
    <option value="ARRETE">Arrêté</option>
    <option value="EN_ATTENTE">En pause</option>
  </select>
</div>

<div class="manga-container">
  <div *ngFor="let manga of filteredMangas" >
    <a [routerLink]="['/manga', manga.id]">
      <div class="manga-card">
        <div class="statut">
          <p class="{{manga.statut}}">{{getStatutLabel(manga.statut)}}</p>
        </div>
        <img *ngIf="manga.coverImg; else noImg"
          [src]="'http://localhost:8080/'+ manga.coverImg"
          alt="{{ manga.name }} cover"
          class="cover" />
        <ng-template #noImg>
          <div class="noImg">
             <p *ngIf="manga.volumeCount > 0; else noTome">Pas de cover pour ce manga</p>
             <ng-template #noTome>
              <p>Pas de tomes disponible pour ce manga</p>
             </ng-template>
          </div>
        </ng-template>
        <div class="bas">
          <p class="name">{{ manga.name }}</p>
          <p class="total">{{ manga.volumeCount }}/{{ manga.volumeNb }}</p>
        </div>
      </div>
    </a>
  </div>
  <a [routerLink]="['/manga']" >
    <div class="manga-add">
      Ajouter un manga
    </div>
  </a>
  
</div>
