html, body {
margin: 0;
padding: 0;
height: 100%;
}

body {
background-image: url('assets/img/Dandadan-Crabe-UNE.jpg');
background-size: cover;           /* l'image couvre tout le fond */
background-position: center;      /* centre l'image */
background-repeat: no-repeat;     /* pas de répétition */
background-attachment: fixed;     /* l'image reste fixe même quand on scroll */
padding-top: 100px;
}



