.ajouter {
color: #ffb347;
background-color: #2c2c2c;
width: 90%;
max-width: 450px;
margin: 5rem auto;
padding: 2rem;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
text-align: left;
font-family: "Poppins", sans-serif;
}

.ajouter h2 {
text-align: center;
margin-bottom: 1.5rem;
color: #ffb347;
font-size: 1.4rem;
}

.form-group {
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}

label {
margin-bottom: 0.5rem;
font-weight: bold;
color: #ffb347;
}

input, select, textarea {
padding: 0.6rem;
border: none;
border-radius: 6px;
background-color: #3b3b3b;
color: #fff;
font-size: 1rem;
}

input::placeholder {
color: #b5b5b5;
}

input:focus, select:focus {
outline: none;
background-color: #4a4a4a;
}

.submit-btn {
display: block;
width: 100%;
padding: 0.7rem;
margin-top: 1.2rem;
border: none;
border-radius: 8px;
background: linear-gradient(90deg, #ffb347, #ffcc33);
color: #2c2c2c;
font-weight: bold;
cursor: pointer;
transition: 0.2s;
}

.submit-btn:hover {
transform: translateY(-2px);
background: linear-gradient(90deg, #ffc867, #ffde5a);
}

.form-group p {
    padding: 0%;
    margin: 0%;
    font-size: 0.8rem;
}

